<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Jounral{% block title %}{% endblock title %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <link rel="icon" type="image/png" href="{% static 'images/website-logo.png' %}">
    {% block head %}
    {% endblock head %}
</head>

<body>
    <div class="intro">
        <nav class="navbar">
            <div class="navbar-title">Travel Jounral</div>
            <a href="#" class="toggle-button">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </a>
            <div class="navbar-link">
                <ul>
                    <li class="nav-item"><a href="/home">HOME</a></li>
                    <li class="nav-item"><a href="/places">PLACES</a></li>
                    <li class="nav-item"><a href="/contact">CONTACT</a></li>
                    <li class="nav-item"><a href="/about">ABOUT</a></li>
                    <li class="nav-item"><a href="/account/login">LOGIN</a></li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="block-container">
        {% block start %}
        {% endblock start %}
    </div>
    <footer>
        Copyright &copy; 2023
    </footer>
    <script src="{% static 'js/navbar.js' %}"></script>
</body>
</html>