{% extends "account/base.html" %}
{% block title %} {{profile.user.username}} Profile {% endblock title %}

{% block head %}
<link href="https://fonts.googleapis.com/css2?family=Abel&family=Montserrat:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{% load static %}
<link rel="stylesheet" href="{% static 'styles/profile-styles.css' %}">
{% endblock head %}
{% block start %}
<div class="profile-root">
    <div class="profile-container">
        <div class="shape">
            <img src="{{profile.profile_pics.url}}" alt="{{profile.user.username}} profile-pics"
                class="profile-image" />
        </div>
        <h3>{{profile.user.firstname}} {{profile.user.lastname}}</h3>
        <h3 class="title">@{{profile.user.username}}</h3>
        <p>{{profile.user.desc}}</p>
    </div>
</div>
{% endblock start %}