*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: monospace;
    font-size: 1.25rem;
    background: #FAFAFA;
}

.intro {
    background: #1D1D1D;
}

.navbar {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background: #1D1D1D;
    color: #FAFAFA;
}

.navbar-title {
    font-size: 1.5rem;
    margin: 0.5rem;
    text-transform: uppercase;
}

.navbar-link {
    height: 100%;
}

.navbar-link ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-link li {
    list-style: none;
    transition: 0.5s;
}

.navbar-link li a {
    display: block;
    text-decoration: none;
    color: #FAFAFA;
    padding: 1rem;
    transition: 0.5s;
}

.navbar-link li a:hover {
    color: crimson;
}

.toggle-button {
    position: absolute;
    top: 1.75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #FAFAFA;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-link {
        display: none;
        width: 100%;
    }

    .navbar-link ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-link ul li {
        text-align: center;
    }

    .navbar-link ul li a {
        padding: 0.5rem 1rem;
    }

    .navbar-link.active {
        display: flex;
    }
}