{% extends "base.html" %}
{% block title %}: Signup{% endblock title %}

{% block start %}

<div class="container">
    <div class="header">
        <h2>Create Account</h2>
    </div>
    <form class="form" id="form" method="post" action="/signup">
        {% csrf_token %}
        <div class="form-control">
            <label for="">Username</label>
            <input type="text" placeholder="username" id="username" name="username">
            <i class="fas fa-check-circle"></i>
            <i class="fas fa-exclamation-circle"></i>
            <small>Error message</small>
        </div>
        <div class="form-control">
            <label for="">Email</label>
            <input type="email" placeholder="info@email.com" id="email" name="email">
            <i class="fas fa-check-circle"></i>
            <i class="fas fa-exclamation-circle"></i>
            <small>Error message</small>
        </div>
        <div class="form-control">
            <label for="">Password</label>
            <input type="password" placeholder="Password" id="password" name="password">
            <i class="fas fa-check-circle"></i>
            <i class="fas fa-exclamation-circle"></i>
            <small>Error message</small>
        </div>
        <div class="form-control">
            <label for="">Confirm Password</label>
            <input type="password" placeholder="Confirm Password" id="confirmpassword" name="confirmpassword">
            <i class="fas fa-check-circle"></i>
            <i class="fas fa-exclamation-circle"></i>
            <small>Error message</small>
        </div>
        <button>Sign Up 🎉</button>
    </form>
  </div>
  {% load static %}
  <script src="{% static 'js/signUp.js' %}"></script>
{% endblock start %}